.cardLinguagens {
    width: 20rem;
    display: flex;
    flex-wrap: wrap;
    padding: 1.6rem;
    gap: .5rem;
}

.two {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

h3 {
    font-size: small;
    display: block;
}