.cardContato {

    padding: 1.7rem 0.3rem;
 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.4rem;
    align-items: center;
    
}

.ancora {
   

    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    border-radius: .7rem;
    font-size: 60%;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 2rem;
    flex-shrink: 0;



}