.cardContato {

    padding: 1.7rem 0.3rem;
 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .3rem;
    align-items: center;
    
}

.ancora {
   

    font-style: normal;
    font-weight: 400;
    border-radius: .7rem;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    flex-shrink: 0;



}