.cardFinal {

    height: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btnDownload {

    border-radius: 1rem;
    padding: .6rem;
    background-color: transparent;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    gap: .5rem;
}