.cardFinal {

    padding: 1.6rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 19rem;
    gap: 1rem;

}

.btnDownload {

    border-radius: 1rem;
    padding: .6rem;
    background-color: transparent;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    gap: .5rem;
}
.cards {

    display: flex;
    gap: 1rem;

}
.cardCurso {

    padding: .9rem 1.3rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
}
.cardCurso span {
    font-weight: 600;
}
.cardCurso a {

    padding: .4rem .7rem;
    color: blueviolet;
    background-color:#561588;
    border-radius: 5rem;
}
.cardCurso a:hover {

  
    background-color:#ae70c7;
}
.two {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
}
