.cardFinal {

    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.btnDownload {

    border-radius: .5rem;
    padding: .6rem;
    background-color: transparent;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    gap: .5rem;
    box-shadow: 0px 5px 0px rgb(0, 0, 0);
}

.btnDownload:hover {
    background-color: #ae70c7;
}

.cards {

    display: flex;
    gap: 1rem;
    width: 100%;

}

.cardCurso {

    padding: .9rem 1.3rem;
    width: 50%;
    background-color: #561588;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
}

.cardCurso span {
    font-weight: 600;
    font-size: .7rem;
}

.cardCurso a {

    padding: .4rem .7rem;
    color: blueviolet;
    background-color: hsla(0, 0%, 100%, 0.116);
    border-radius: .4rem;
}

.cardCurso a:hover {


    background-color: #ae70c7;
}

.two {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;

}

// Tamanhos responsivos para telas maiores, como Full HD
@media screen and (min-width: 1920px) {
    .cardCurso {
        height: 8rem;
        width: 50%;

    }

    .cardCurso span {

        font-size: 1rem;
    }
    .cardCurso a {

        padding: .6rem 1rem;
    
    }

    .btnDownload {

        padding: 1.5rem;

    }

    .two {

        justify-content: start;

    }
}