.cardFinal {

    padding: 1.6rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 19rem;
    gap: 1rem;

}

.btnDownload {

    border-radius: 1rem;
    padding: .6rem;
    background-color: transparent;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    gap: .5rem;
}
.cards {

    display: flex;
    gap: 1rem;

}
.cardCurso {
    border: 1px solid black;
  background-color: #9070aa;
    padding: .9rem 1.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.cardCurso a {

    padding: .2rem .5rem;
    background-color: aliceblue;
    border-radius: .5rem;
}
.cardCurso a:hover {

    color: rgb(189, 189, 189);
}