.cardProjetos {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem 1rem;

}

.tags {
    flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}
.tag {
    font-size: .7rem;
    border-radius: 1.25rem;
    background: #9070aa;
    padding: .2rem .6rem;
}
/*  parte do botao +  icon */
.two {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.btn {

    width: 8rem;
    height: 3rem;
    flex-shrink: 0;
    border-radius: .5rem;
    background-color: transparent;
    transition: background-color 0.3s ease; /* Adiciona uma transição suave à mudança de background-color */
}
.btn:hover {
    background-color: #a971d3; /* Muda o background-color ao passar o mouse */
   
}