@import '/src/globals';

.cardProjetos {

    @include flex-column-center;
    padding: 1.7rem .7rem;

}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.tag {
    font-size: .6rem;
    border-radius: 1.25rem;
    background:  rgba(222, 187, 255, 0.363);
    padding: .2rem .6rem;
}

.tag:hover {
    background-color: black;
}

/*  parte do botao +  icon */
.two {
    @include flex-wrap-center;
}

.btn {

    width: 7rem;
    height: 2.5rem;
    font-size: .7rem;
    border-radius: .5rem;
    transition: background-color 0.3s ease;
    background-color: transparent;

}

.btn:hover {
    background-color: #5e5e5e18;


}


// Tamanhos responsivos para telas maiores, como Full HD
@media screen and (min-width: 1920px) {
    .cardProjetos {
        gap: 1.5rem;
    }

    .tag {
        font-size: 90%;
    }

    .btn {
        width: 10rem;
        height: 4rem;
        font-size: 1rem;
    }
}