.cardMenu {

  padding: .7rem;
  background-color: #7739a759;
  display: flex;
  gap: .5rem;
  flex-direction: column;
  align-items: center;
}

.input {
  border: none;
  width: 3.6rem;
  height: 3.6rem;
  background: transparent;
  position: relative;
}

.input::-webkit-color-swatch {

  /* Remove a borda da caixa de seleção */
  border-radius: 50%;
  border: none;

}


.iconSol {

  position: absolute;

  transform: translate(-128%, 30%);
  pointer-events: none;

}
.two {
  display: flex;
  justify-content: center;
  align-items: center;
}
.githubIcon {
  padding: .4rem;
  background-color:#000000;
  border-radius: 50%;
  width: 2.5rem;
  display: flex;
 justify-content: center;
}
.githubIcon:hover {

  background-color: rgb(245, 245, 245);
}
