.cardMenu {

    padding: 1rem;
}

.input {
    border: none;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    background: transparent;
    outline: none;
    /* Remova o contorno ao focar */
}



.input::-webkit-color-swatch-wrapper {
    border: none;
    /* Remove a borda da caixa de seleção */

}

.input::-webkit-color-swatch {
    border: none;
    /* Remove a borda da caixa de seleção */
    border-radius: 50%;
    box-shadow: 0px 2px 4px rgba(14, 13, 13, 0.384);
    /* Adicione sombra embaixo da caixa de seleção */
}