@import '/src/globals';

.cardMenu {
  @include flex-column-center;
  justify-content: start;
  width: 20%;
  padding: .3rem;
  background-color: #7739a759;
  gap: .6rem;

}

.input {
  border: none;

  background: transparent;
  position: relative;
}

.input::-webkit-color-swatch {

  /* Remove a borda da caixa de seleção */
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
  border: none;

}

.iconColorMenu {

  position: absolute;

  transform: translate(-130%, 30%);
  pointer-events: none;

}

// gitgub e coffee icons

.two {
  @include flex-center;
}

.menuIcon {
  @include flex-center;
  padding: .4rem;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #000000;
  border-radius: 50%;
  width: 2.5rem;

}

.menuIcon:hover {

  background-color: rgb(245, 245, 245);
}

// ------- responsivo -----

/* telas menores que 700px */
@media screen and (max-width: 700px) {
  .cardMenu {
    width: 100%;
    justify-content: center;
    gap: 1rem;
    flex-direction: row;

  }
  .input::-webkit-color-swatch {


    width: 3rem;
    height: 3rem;

  }
  
  .menuIcon {

    height: 3rem;
    width: 3rem;


  }
}