.cardMenu {

  padding: .7rem;
  background-color: #7739a759 ;
}

.input {
  border: none;
  width: 3.6rem;
  height: 3.6rem;
  background: transparent;
  position: relative;
}

.input::-webkit-color-swatch {

  /* Remove a borda da caixa de seleção */
  border-radius: 50%;
  border: none;

}


.iconSol {
  
  position: absolute;

  transform: translate(-128%, 30%);
  pointer-events: none;

}