.cardPerfil {

    padding: .5rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagem {

    width: 70%;
    height: 70%;
    border-radius: 100%;

}

/* botao e icon */

.two {
    display: flex;
    width: 100%;
    justify-content: space-between;

}


.btnsobre {

    width: 6.5rem;
    height: 2.41019rem;
    flex-shrink: 0;

    border-radius: 1.25rem;
    border: 0.1rem solid;
    background-color: transparent;
}