@import '/src/globals';

.cardPerfil {
    @include flex-column-center;
    padding: .2rem 1rem;

}

.imagem {
    width: 65%;
    border-radius: 100%;

}

.one {
    width: 100%;
    display: flex;
    justify-content: center;

}

/* icon e botao */

.two {
    display: flex;
    width: 100%;
    justify-content: space-between;

}


.btnsobre {

    width: 6.5rem;
    height: 2.41019rem;
    flex-shrink: 0;

    border-radius: 1.25rem;
    border: 0.1rem solid;
    background-color: transparent;
}
@media screen and (max-width: 700px){

    .cardPerfil {

        padding: 1rem 1rem;
    
    }
    
}