.cardPerfil {

    padding: .2rem 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.imagem {
    width: 65%;
    border-radius: 100%;

}
.one {
    width: 100%;
    display: flex;
    justify-content: center;
   
}
/* botao e icon */

.two {
    display: flex;
    width: 100%;
    justify-content: space-between;

}


.btnsobre {

    width: 6.5rem;
    height: 2.41019rem;
    flex-shrink: 0;

    border-radius: 1.25rem;
    border: 0.1rem solid;
    background-color: transparent;
}