.cardsSocial {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5rem;
    align-items: center;

    padding: 1.6rem .5rem ;
    box-shadow: 0px 5px 0px rgb(0, 0, 0);
    flex-wrap: wrap;

}

.cardSocial {
    border-radius: 10px;
    width: 4rem;
    height: 4.8rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.social {

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 2rem;
    height: 2rem;


}