@import '/src/globals';

.cardsSocial {

    @include flex-wrap-center;

    gap: .5rem;
    padding: 1.6rem .5rem;
    box-shadow: 0px 5px 0px rgb(0, 0, 0);

}

.cardSocial {
    @include flex-center;
    
    border-radius: 10px;
    width: 4rem;
    height: 4.8rem;

}

  // Tamanhos responsivos para telas maiores, como Full HD
  @media screen and (min-width: 1920px) {
  
    .cardSocial {
     
        width: 6rem;
        height: 6rem;
    
    }
   }