body {

  margin: 0 2rem;
  background-color: rgb(252, 255, 238);


}

.container {
    
    gap: 1rem;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    


}
.sec {
  width: 16rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Estilo para telas menores (mobile) */
@media (max-width: 768px) {
  .sec {
    width: 90%;
  }
}