* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {

  text-decoration: inherit;
}
a:hover {
  color: #ffffff;
}

body {

  min-height: 100vh;
  margin-top: 1px;

  background: linear-gradient(0deg, #611999 36.05%, rgba(97, 25, 153, 0.00) 102.03%);
}

@media (min-width: 1400px) {
  body {
   
  }
}